.form-field{
    &:not(.frm_html_container):not(.vertical_radio):not(.captcha-container){
        background-color: $form-fields;
    }
    /* upload Field */
    &.upload-box{
        border: 1px dashed $form-upload-border;
        padding-top: 10px;
    }
    .frm_description {
        background-color: $background;
        padding: 10px !important;
        text-align: center !important;
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 12px !important;
        line-height: 15px !important;
        color: $text-color-3 !important;
    }
    &.frm_html_container{
        font-family: 'Montserrat' !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-size: 14px !important;
        line-height: 20px !important;
        color: #000000 !important;
    }
    .frm_dropzone{
        max-width: 100%;
        background: transparent !important;
        margin-top: 0;
        .dz-message{
            background-color: transparent;
            border: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $text-color-3;
            margin-top: 0 !important;
            padding: 25px 20px 36px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .frm_small_text{
                display: none;
            }
            .frm_upload_icon{
                &:before{
                    margin-right: 20px;
                    line-height: 100%;
                    font-size: 0;
                    content:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='22' viewBox='0 0 14 22' fill='none'%3E%3Cpath d='M1 6.91V15C1 16.5913 1.63214 18.1174 2.75736 19.2426C3.88258 20.3679 5.4087 21 7 21C8.5913 21 10.1174 20.3679 11.2426 19.2426C12.3679 18.1174 13 16.5913 13 15V5C13 3.93913 12.5786 2.92172 11.8284 2.17157C11.0783 1.42143 10.0609 1 9 1C7.93913 1 6.92172 1.42143 6.17157 2.17157C5.42143 2.92172 5 3.93913 5 5V14.182C5 14.4446 5.05173 14.7047 5.15224 14.9474C5.25275 15.19 5.40007 15.4105 5.58579 15.5962C5.7715 15.7819 5.99198 15.9292 6.23463 16.0298C6.47728 16.1303 6.73736 16.182 7 16.182V16.182C7.53043 16.182 8.03914 15.9713 8.41421 15.5962C8.78929 15.2211 9 14.7124 9 14.182V7' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
                }
            }
        }
        .dz-preview{
            padding-left: 10px;
            padding-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            .dz-image, .dz-column{
                width: auto;
            }
            .dz-progress{
                .dz-upload{
                    background-color: $background;
                }
            }
            &.dz-complete{
                .dz-progress{
                    background-color: $background;
                    .dz-upload{
                        background-color: $background;
                    }
                }
            }
        }
        &.frm_single_upload.dz-started{
            max-width: 100%;
        }
    }
    padding: 8px 0px 0px;
    label{
        font-family: 'Montserrat' !important;
        font-style: normal;
        font-weight: normal !important;
        font-size: 12px !important;
        line-height: 15px !important;
        color: $text-color-3 !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        span{
            &.frm_required{
                color:$text-color-3;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}
    /* input fields */
    .with_frm_style input[type=text], .with_frm_style input[type=password], .with_frm_style input[type=email], .with_frm_style input[type=number], .with_frm_style input[type=url], .with_frm_style input[type=tel], .with_frm_style input[type=phone], .with_frm_style input[type=search], .with_frm_style select, .with_frm_style textarea, .frm_form_fields_style, .with_frm_style .frm_scroll_box .frm_opt_container, .frm_form_fields_active_style, .frm_form_fields_error_style, .with_frm_style .frm-card-element.StripeElement, .with_frm_style .chosen-container-multi .chosen-choices, .with_frm_style .chosen-container-single .chosen-single{
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid $form-border-color;
        box-shadow: none !important;
        border-radius: 0;
        background-color: transparent;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $text-color-3;
    }
    /* focused input fields */
    .frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus, .frm_style_formidable-style.with_frm_style select:focus, .frm_style_formidable-style.with_frm_style textarea:focus, .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=text], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=password], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=email], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=number], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=url], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=tel], .frm_style_formidable-style.with_frm_style .frm_focus_field input[type=search], .frm_form_fields_active_style, .frm_style_formidable-style.with_frm_style .frm_focus_field .frm-card-element.StripeElement, .frm_style_formidable-style.with_frm_style .chosen-container-single.chosen-container-active .chosen-single, .frm_style_formidable-style.with_frm_style .chosen-container-active .chosen-choices{
        background-color: transparent;
        border-color: $form-border-color;
        color: $text-color-3;
    }
/* input error */
.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=text], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=password], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=url], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=tel], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=number], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=email], .frm_style_formidable-style.with_frm_style .frm_blank_field textarea, .frm_style_formidable-style.with_frm_style .frm_blank_field .mce-edit-area iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field select:not(.ui-datepicker-month):not(.ui-datepicker-year), .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-card-element.StripeElement, .frm_style_formidable-style.with_frm_style .frm_blank_field .chosen-container-multi .chosen-choices, .frm_style_formidable-style.with_frm_style .frm_blank_field .chosen-container-single .chosen-single, .frm_style_formidable-style.with_frm_style .frm_form_field :invalid{
    background-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:focus-visible,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 10rem $form-fields inset !important;
    -webkit-box-shadow: 0 0 0 10rem $form-fields inset !important;
}
::-webkit-input-placeholder { /* Edge */
    color: $placeholder-text !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $placeholder-text !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
}
::placeholder {
    color: $placeholder-text !important;
    font-family: 'Montserrat' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
}
/* button */
.frm_button_submit {
    background: #134E19 !important;
    border-radius: 30px !important;
    outline: none !important;
    border: none !important;
    padding: 17px 40px !important;
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    margin: 10px 0 0 !important;
    transition: all 250ms ease-in-out !important;
    &:hover{
        color: #ffffff !important;
        box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.15) !important;
    }
}
/* error message */
.frm_style_formidable-style.with_frm_style .frm_error {
    padding: 5px 10px;
}
.with_frm_style select{
    max-width: calc(100% - 10px);
    border-bottom: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L11 1' stroke='%234D4D4D' stroke-width='1.6'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right;
}

/* recaptcha */
.captcha-container{
    background-color: transparent;
    padding-top: 0;
    margin-bottom: 10px;
    .frm-g-recaptcha{
        div{
            div{
                box-shadow: none !important;
                border: none !important;
            }
        }
    }
    @media(max-width:768px){
        margin-bottom: 20px;
    }
}

/* checkbox */
.vertical_radio{
    .frm_checkbox{
        padding-left: 22px;
    }
}
.with_frm_style .vertical_radio .frm_checkbox label, .with_frm_style .vertical_radio .frm_radio label{
    margin: 0;
    padding-right: 0 !important;
    text-indent: -32px !important;
    font-size: 14px !important;
    line-height: 20px !important;
    color: #000000 !important;
}
.with_frm_style .frm_radio input[type=radio], .with_frm_style .frm_checkbox input[type=checkbox]{
    box-shadow: none !important;
    margin-right: 10px !important;
}
.with_frm_style .frm_blank_field{
    .frm_radio input[type=radio], .frm_checkbox input[type=checkbox]{
        border-color: #B94A48;
    }
}