body{
    font-family: 'Montserrat', sans-serif;
}
.alignfull .alignwide, .alignwide .alignwide, header.site-header .wrap, .footer-widgets .wrap, footer.site-footer .wrap {
    @media only screen and (min-width: 1500px){
        max-width: 1396px !important;
    }
    @media only screen and (max-width: 1500px){
        max-width: 1200px !important;
    }
    @media only screen and (max-width: 1250px){
        max-width: 1000px !important;
    }
    @media only screen and (max-width: 1060px){
        max-width: 900px !important;
    }
    @media(max-width:960px) and (min-width: 769px){
        padding:0px 20px;
        margin: 0 auto;
    }
    @media(max-width:768px){
        padding:0px 20px;
    }
}

.section-heading{
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -2px;
    color: $buenogreen;

    @media(max-width:768px){
        font-size: 30px;
        line-height: 37px;
    }
}
button, a{
    outline: none !important;
}
.home .site-inner{
    padding-top: 0 !important;
}
.gb-block-button{
    a{
        color: #ffffff;
        background: $buenogreen !important;
        border-radius: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px !important;
        padding: 17px;
        min-width: 241.45px;
    }
}
.entry {
    margin-bottom: 0px;
}
.gb-button{
    background-color: $buenogreen;
    display: inline-flex;
    align-items: center;
    text-decoration: none !important;
    &:hover{
        color:#ffffff;
    }
    &--bordered{
        background-color: transparent;
        color: $buenogreen;
        border: 1px solid $buenogreen;
        &:hover{
            color:$buenogreen;
        }
        svg{
            path{
                fill:$buenogreen;
            }
        }
        &-icon{
            .icon{
                margin-right: 26px;
            }
        }
    }
}
.header-button{
    padding: 15px 30px;
    background-color: #72941A;
    border-radius: 30px;
    font-family: Montserrat Alternates;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    min-height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    a{
        padding: 0px !important;
    }
    @media(max-width: 961px){
        margin-top: 15px;
    }
}

.image-button{
    img{
        transition: all 200ms ease-in;
    }
}
.image-button:hover {
    img{
        opacity: 0.7;
    }
}

@media(min-width:992px){
    .menu .menu-item{
        &.gb-button{
            a{
               &:after{
                    content: none;
               }
            }
        }
        a{
            display: inline-block;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -3px;
                left: 0;
                background-color: #ffffff;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }
            &:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }
    header .menu .menu-item{
        a{
            &:after{
                bottom: -5px;
            }
        }
    }
}

.page-title{
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -2px;
    color: #000000;
    @media(max-width:768px){
        font-size: 30px;
        line-height: 37px;
    }
}

.page-template-partner-with-us, .page-template-careers{
    .site-inner{
        padding: 60px 0;
        max-width: 100%;
    }
    @media(max-width:768px){
        .site-inner{
            padding: 20px 0 40px;
        }
    }
}

// safari fix
.gb-layout-columns-2>.gb-layout-column-wrap{
    display: flex;
}

@media (max-width: 992px){
.gb-layout-columns-2>.gb-layout-column-wrap{
    flex-direction: column;
}
.hero-banner-section .hero-banner-wrap .hero-text-section{
    order: 2;
}        
.scan-pay-section .scan-section1>.gb-layout-column-wrap .gb-block-layout-column:nth-child(1){
    order: 2;
}
}

@media(min-width:993px){
    .gb-block-layout-column:nth-child(1){
        margin-right: 2em;
    }
    .customer-grid .gb-block-layout-column:nth-child(1){
        margin-right: 4em;
    }
    .scan-section1 .gb-block-layout-column:nth-child(1), .scan-section2 .gb-block-layout-column:nth-child(1){
        margin-right: 6em;
    }
}