.our-customer-section{
    margin-bottom: 80px;
    .our-customer-slider-js{
        .our-customer-slide{
            // margin: 0;
            // min-width: 100%;
            .customer-grid{
                .customer-grid-img{
                    display: flex;
                    justify-content: flex-end;
                    img{
                        padding-right: 20px;
                        border-radius: 8px;
                    }
                }
                .customer-slide-text{
                    max-width: 575px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .section-heading{
                        margin-bottom: 30px;
                        margin-top: 0;
                    }
                    .our-customer-text{
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 145.4%;
                        color: $text-color-3;
                        margin-bottom: 60px;
                        position: relative;
                        &::after{
                            content: '';
                            height: 21px;
                            width: 2px;
                            border-right: 1px solid $border-grey;
                            position: absolute;
                            left: 50%;
                            bottom: -20px;
                            transform: translateY(100%);
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 92px;
                            height: 80px;
                            background-image: url('../img/green-quote.svg');
                            transform: translate(-10% , -70%);
                            background-size: contain;
                            z-index: -1;
                        }
                    }
                    .our-customer-name{
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 30PX;
                        color: $dark-green;
                    }
                }
            }
        }
    }
    .slick-slider{
        margin-bottom: 0px !important;
    }
    .slick-dots{
        display: flex;
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        bottom: 0;
        width: calc(50% - (-4.5em));
        justify-content: center;
        li{
            list-style: none;
            button{
                width: 16px;
                height: 16px;
                text-indent: -999px;
                background: transparent;
                border: 2px solid $slick-dots-active;
                border-radius: 50%;
                padding: 0;
                margin-right: 10px;
            }
            &.slick-active{
                button{
                    background: $slick-dots-active;
                }
            }
        }
        @media (min-width:1501px){
            padding-right: 91px;
        }
    }

    @media (max-width:992px){
        margin-bottom: 50px;
        .our-customer-slider-js{
            .our-customer-slide{
                margin: 0 10px;
                .customer-grid{
                    & > .gb-layout-column-wrap{
                        grid-template-columns: 1fr;
                        grid-template-areas: "col1" "col2"
                    }
                    .customer-grid-img{
                        justify-content: center;
                        margin-bottom: 32px;
                        img{
                            padding-right: 0;
                            max-width: 301px;
                            max-height: 184px;
                            object-fit: cover;
                            overflow: hidden;
                            object-position: top ;
                        }
                    }
                    .section-heading{
                        margin-top: 0;
                        margin-bottom: 32px;
                    }
                    .customer-slide-text{
                        margin: auto;
                        .section-heading{
                            margin-top: 0;
                            margin-bottom: 32px;
                        }
                        .our-customer-text{
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            &::before{
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 46px;
                                height: 40px;
                                transform: translate(-10% , -50%);
                                background-size: contain;
                                z-index: -1;
                            }
                        }
                        .our-customer-name{
                            margin-bottom: 0;
                            position: relative;
                            &::before{
                                content: '';
                                position: absolute;
                                right: 0;
                                top: -10px;
                                background-image: url('../img/green-quote.svg');
                                width: 46px;
                                height: 40px;
                                transform: translateY(-100%) rotateY(180deg);
                                background-size: contain;
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 993px){
        .customer-grid .gb-block-layout-column:nth-child(1) {
            margin-right: 0;
        }
    }
    .gb-layout-columns-2>.gb-layout-column-wrap{
        justify-content: center;
        .wp-block-genesis-blocks-gb-column{
            width: auto;
        }
    }
}