.page-header{
    background-color: $background;
    padding-top:50px;
    padding-bottom:49px;
    .wp-block-columns{
        margin-bottom: 0px;
    }
    .page-title{
        margin-bottom: 20px;
        color: $buenogreen;
    }
    .page-description{
        margin-bottom: 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #000000;
    }
    .last-updated-date{
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
    @media(max-width:768px){
        padding-top:40px;
        padding-bottom:40px;
        .page-title{
            margin-bottom: 10px;
        }
        .page-description{
            font-size: 18px;
        }
        .last-updated-date{
            font-weight: 500;
            line-height: 30px;
        }
    }
}