$buenogreen: #134E19;
$secondary-color: #303030;
$light-green:#057438;
$color-white: #FFFFFF;
$text-color-1: #303030;
$gradient-1: linear-gradient(73.05deg, rgba(235, 252, 169, 0.3) -17.39%, rgba(230, 232, 151, 0.3) 153.19%);
$gradient-2: linear-gradient(73.05deg, #EBFCA9 -17.39%, #E6E897 153.19%);
$slider-overlay: linear-gradient(90deg, #FFFFFF 0%, rgba(245, 245, 245, 0) 98.01%);