.why-bueno-section{
    .section-heading{
        margin-bottom:40px;
    }
    .right-side{
        margin-bottom: 86px;
    }
    .gb-container-image-wrap{
        @media(max-width:990px){
            display: none;
        }
        .gb-container-image{
            object-fit: contain;
            object-position: left bottom;
        }
    }
    .features-container{
        &__list{
            ul{
                padding-left: 0px !important;
                li{
                    list-style-type: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: $text-color-1;
                    display: flex;
                    align-items: center;

                    &:not(:last-child){
                        margin-bottom: 32px;
                    }

                    img{
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    .stats-container{
        &__stat{
            background: $gradient-1;
            text-align: center;
            padding: 16px 14px 14px;
            border-radius: 8px;

            @media(min-width:769px){
                &:not(:first-child){
                    margin-left: 22px !important;
                }
            }
            p{
                color: $light-green;
                font-weight: 500;
                font-size: 18px;
                line-height: 30px;
                margin-bottom:0px;
            }

            .stat-number{
                font-size: 30px;
                line-height: 37px;
                margin-bottom: 2px;
            }
        }
    }
    @media(max-width:990px){
        .wrapper-container{
            .gb-layout-column-wrap{
                display: block;
            }
        }
        .left-side{
            display: none;
        }
    }
    @media(min-width:769px){
        .stats-container{
            &__stat{
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* max-width: 206px; */
                min-height: 99px;
            }
        }
    }
    @media(max-width:768px){
        .section-heading{
            letter-spacing: -1px;
            margin-bottom: 30px;
        }
        .features-container{
            &__list{
                ul{
                    margin-bottom: 23px;
                    li{
                        font-size: 16px;
                        line-height: 20px;
                        color: $buenogreen;
                        font-weight: normal;
                        &:not(:last-child){
                            margin-bottom: 23px;
                        }
                        img{
                            width: 40px !important;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        .stats-container{
            &__stat{
                background-image: none;
                padding:0px;
                position: relative;

                &:not(:first-child){
                    margin-left: 12px !important;
                }
                p{
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 24px;
                    text-align: left;
                    color: black;
                }
                .stat-number{
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 6px;
                    color:$light-green;
                }

                &:before{
                    content:"";
                    background: $gradient-1;
                    height: 50px;
                    width: 50px;
                    position: absolute;
                    border-radius: 100%;
                    left: 0px;
                    top:-14px;
                }
            }
        }
        .right-side{
            margin-bottom: 20px;
        }
    }
    @media only screen and (max-width: 1500px){
        .gb-2-col-wideright>.gb-layout-column-wrap {
            -ms-grid-columns: 1fr 3.5fr;
            grid-template-columns: 1fr 3.5fr;
        }
    }
}